<p id="notice"><%= notice %></p>

<p>
  <strong>Schedule course:</strong>
  <%= @pre_registration.schedule_course %>
</p>

<p>
  <strong>State:</strong>
  <%= @pre_registration.state %>
</p>

<p>
  <strong>Client:</strong>
  <%= @pre_registration.client %>
</p>

<p>
  <strong>Schedule course:</strong>
  <%= @pre_registration.schedule_course %>
</p>

<%= link_to 'Edit', edit_pre_registration_path(@pre_registration) %> |
<%= link_to 'Back', pre_registrations_path %>
